Django==5.2.3
django-allauth==65.0.0
djangorestframework==3.15.2
psycopg2-binary==2.9.10
django-axes==6.1.1
python-dotenv==1.0.1
django-redis==6.0.0
redis==6.2.0
requests==2.32.4
jwt==1.4.0
gunicorn==20.1.0
drf-yasg==1.21.5